---
layout: default
---


<div class="container-fluid index">
    <div class="row">

        <div class="col-md-12 main content-panel">

            <div class="gravatar">
                <img src="{{ site.title_image }}" class="img-circle about-image" height="150" width="150" alt="{{ site.title }}" />
            </div>

            <h1 class="header author-header" itemprop="headline">{{ site.title }}</h1>

            <div class="author-text">
                {{ site.title_description }}
            </div>

            <div class="links">
                {% if site.twitter_username %}<a href="http://www.twitter.com/{{ site.twitter_username }}" target="_new"><i class="fa fa-twitter fa-2x"></i></a>{% endif %}
                {% if site.linkedin_link %}<a href="{{ site.linkedin_link }}" target="_new"><i class="fa fa-linkedin fa-2x"></i></a>{% endif %}
                {% if site.google_plus_link %}<a href="{{ site.google_plus_link }}" target="_new"><i class="fa fa-google-plus fa-2x"></i></a>{% endif %}
                {% if site.github_username %}<a href="https://github.com/{{ site.github_username }}" target="_new"><i class="fa fa-github-alt fa-2x"></i></a>{% endif %}
                {% if site.stackoverflow_link %}<a href="{{ site.stackoverflow_link }}" target="_new"><i class="fa fa-stack-overflow fa-2x"></i></a>{% endif %}
                <a href="feed.xml" target="_new"><i class="fa fa-rss fa-2x"></i></a>
                <a href="http://resistance.ingress.sg/" class="hint--right hint--info" data-hint="Join the Resistance!"><img src="{{ site.baseurl }}/img/ingress.gif" style="width:45px;height:45px;margin-top:-20px;"/></a>
            </div>
          </div>
          <div class="col-md-12 main content-panel">

            <div class="articles" style="text-align: left;">

              <h2>Latest Articles</h2>

              <table>
                  {% for post in site.posts | limit: site.post_limit %}
                    <tr>
                      <td style="width:30%;vertical-align: top;">
                        <small class="hidden-xs">[ {{ post.date | date: "%B %-d, %Y" }} ]&emsp;</small>
                      </td>
                      <td>
                        <a href="{{ post.url | prepend: site.baseurl }}" style="font-size:16px;">{{ post.title }}</a>
                      </td>
                    </tr>
                  {% endfor %}
                  <tr>
                      <td colspan="2" style="text-align:center;"><small><i><a href="/posts/">more...</a></i></small></td>
                  </tr>
              </table>

            </div>

        </div>

    </div>
</div>
